<a href="https://colab.research.google.com/github/Arslanshah9/CPS7002_1/blob/main/Course1_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!zzz")

Hello World!

In [37]:
# Add product information
product_name = "Laptop"
stock_units = 10
price = 851.50
in_stock = True

# Calculate total price and print all info
total_price = stock_units * price
print("Product Name: ", product_name)
print("Number of units available: ", stock_units)
print("Price: £", price)
print("In Stock: ", in_stock)
print("Total price of all inventory: £", total_price)

# Add 5 more units, calculate total price again
stock_units = stock_units + 5
total_price = stock_units * price

print("\n")
print("After updating the inventory with 5 more items")
print("Product Name: ", product_name)
print("Number of units available: ", stock_units)
print("Price: £", price)
print("In Stock: ", in_stock)
print("Total price of all inventory: £", total_price)

# Check if product is in stock
print("\n")
if (stock_units > 0):
  print("Product is in stock")
else:
  print("Product is out of stock");

Product Name:  Laptop
Number of units available:  10
Price: £ 851.5
In Stock:  True
Total price of all inventory: £ 8515.0


After updating the inventory with 5 more items
Product Name:  Laptop
Number of units available:  15
Price: £ 851.5
In Stock:  True
Total price of all inventory: £ 12772.5


Product is in stock

In [36]:
# Create employee & company Information
employee_name = "Jonathan Collins"
employee_id = 101
salary = 50000
is_active = True
departments = ["HR", "Finance", "IT", "Marketing"]

# Add 5000 to the salary
salary = salary + 5000

# Add another employee and check if name matches
new_employee = "Jonathan Collins"
if (employee_name == new_employee):
  print("Employee name matches")
else:
  print("Employee name does not match")

# Check if IT dept is in the list and check if Sales is not in the list
if ("IT" in departments):
  print("IT department is in the list")
else:
  print("IT department is not in the list")
if ("Sales" not in departments):
  print("Sales department is not in the list")
else:
  print("Sales department is in the list")


# Employee_code 10 needs to be converted into binary. access_code of 12 needs to be converted into binary​
employee_code = 10
access_code = 12

employee_binary = bin(employee_code)
access_binary = bin(access_code)
print("Employee Code in binary: ", employee_binary)
print("Access Code in binary: ", access_binary)

# Perform bitwise operations
op_and = employee_code & access_code
op_or = employee_code | access_code
op_xor = employee_code ^ access_code
op_not_employee = ~employee_code
op_not_access = ~access_code

# Print results in decimal and binary
print(f"Bitwise AND:")
print(f"  Decimal: {op_and}")
print(f"  Binary: {bin(op_and)}")
print("\n")

print(f"Bitwise OR:")
print(f"  Decimal: {op_or}")
print(f"  Binary: {bin(op_or)}")
print("\n")

print(f"Bitwise XOR:")
print(f"  Decimal: {op_xor}")
print(f"  Binary: {bin(op_xor)}")
print("\n")

print(f"Bitwise NOT (employee_code):")
print(f"  Decimal: {op_not_employee}")
print(f"  Binary: {bin(op_not_employee)}")
print("\n")

print(f"Bitwise NOT (access_code):")
print(f"  Decimal: {op_not_access}")
print(f"  Binary: {bin(op_not_access)}")


# Display the employee's name, ID, updated salary, active status, and the list of departments​
print("\n")
print("Employee Name: ", employee_name)
print("Employee ID: ", employee_id)
print("Updated Salary: £", salary)
print("Active Status: ", is_active)
print("Departments: ", departments)

Employee name matches
IT department is in the list
Sales department is not in the list
Employee Code in binary:  0b1010
Access Code in binary:  0b1100
Bitwise AND:
  Decimal: 8
  Binary: 0b1000


Bitwise OR:
  Decimal: 14
  Binary: 0b1110


Bitwise XOR:
  Decimal: 6
  Binary: 0b110


Bitwise NOT (employee_code):
  Decimal: -11
  Binary: -0b1011


Bitwise NOT (access_code):
  Decimal: -13
  Binary: -0b1101


Employee Name:  Jonathan Collins
Employee ID:  101
Updated Salary: £ 55000
Active Status:  True
Departments:  ['HR', 'Finance', 'IT', 'Marketing']