<a href="https://colab.research.google.com/github/Arslanshah9/CPS7002_1/blob/main/Course1_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Add product information
product_name = "Laptop"
stock_units = 10
price = 851.50
in_stock = True

# Calculate total price and print all info
total_price = stock_units * price
print("Product Name: ", product_name)
print("Number of units available: ", stock_units)
print("Price: £", price)
print("In Stock: ", in_stock)
print("Total price of all inventory: £", total_price)

# Add 5 more units, calculate total price again
stock_units = stock_units + 5
total_price = stock_units * price

print("\n")
print("After updating the inventory with 5 more items")
print("Product Name: ", product_name)
print("Number of units available: ", stock_units)
print("Price: £", price)
print("In Stock: ", in_stock)
print("Total price of all inventory: £", total_price)

# Check if product is in stock
print("\n")
if (stock_units > 0):
  print("Product is in stock")
else:
  print("Product is out of stock");

In [ ]:
# Create employee & company Information
employee_name = "Jonathan Collins"
employee_id = 101
salary = 50000
is_active = True
departments = ["HR", "Finance", "IT", "Marketing"]

# Add 5000 to the salary
bonus = 5000
salary += bonus

# Add another employee and check if name matches
new_employee = "Jonathan Collins"
print(employee_name is new_employee)
# if (employee_name == new_employee):
#   print("Employee name matches")
# else:
#   print("Employee name does not match")

# Check if IT dept is in the list and check if Sales is not in the list
print("IT" in departments)
print("Sales" not in departments)


# Employee_code 10 needs to be converted into binary. access_code of 12 needs to be converted into binary​
employee_code = 10
access_code = 12

employee_binary = bin(employee_code)
access_binary = bin(access_code)
print("Employee Code in binary: ", employee_binary)
print("Access Code in binary: ", access_binary)

# Perform bitwise operations
op_and = employee_code & access_code
op_or = employee_code | access_code
op_xor = employee_code ^ access_code
op_not_employee = ~employee_code
op_not_access = ~access_code

# Print results in decimal and binary
print(f"Bitwise AND:")
print(f"  Decimal: {op_and}")
print(f"  Binary: {bin(op_and)}")
print("\n")

print(f"Bitwise OR:")
print(f"  Decimal: {op_or}")
print(f"  Binary: {bin(op_or)}")
print("\n")

print(f"Bitwise XOR:")
print(f"  Decimal: {op_xor}")
print(f"  Binary: {bin(op_xor)}")
print("\n")

print(f"Bitwise NOT (employee_code):")
print(f"  Decimal: {op_not_employee}")
print(f"  Binary: {bin(op_not_employee)}")
print("\n")

print(f"Bitwise NOT (access_code):")
print(f"  Decimal: {op_not_access}")
print(f"  Binary: {bin(op_not_access)}")


# Display the employee's name, ID, updated salary, active status, and the list of departments​
print("\n")
print("Employee Name: ", employee_name)
print("Employee ID: ", employee_id)
print("Updated Salary: £", salary)
print("Active Status: ", is_active)
print("Departments: ", departments)

In [ ]:
# Define dictionary
students = {"Amanda Jackson": 85,
            "Robert Culp": 92,
            "Charles Bronson": 78
            }
# Prompt for new student name and grade
new_student_name = input("Enter the student's name: ")
new_student_grade = int(input("Enter the student's grade: "))

# Add new entry to the dictionary
students[new_student_name] = new_student_grade

# Confirm addition
print(f"{new_student_name} with grade {new_student_grade} has been added to the dictionary.")

# Print out all the students names and grades
print(students)

In [ ]:
# Prompt the user to enter the salaries of employees, separated by spaces
salaries_input = input("Enter the salaries of employees, separated by spaces: ")

# Take the input string and splits it into a list of strings
salaries_list_str = salaries_input.split()

# Convert each string in the list to an integer
salaries_list_int = [int(salary) for salary in salaries_list_str]

print("Employee salaries as integers:", salaries_list_int)

# Convert list of integers to a string representation
salaries_string = str(salaries_list_int)

# Print a readable string representation of the salaries
print("Employee salaries as a string:", salaries_list_str)

In [ ]:
# Prompt user to enter the number of employees
num_employees = int(input("Enter the number of employees: "))

# Use a for loop to collect the names and salaries of the employees
employees = []
for i in range(num_employees):
  name = input(f"Enter the name for employee {i+1}: ")
  salary = float(input(f"Enter the salary for employee {i+1}: "))
  employees.append({"name": name, "salary": salary})

# Print a header row
print("\n")
print("{:<20} {:<10}".format("Employee Name", "Salary"))
print("-" * 30)

# Print each employee's name and salary in a well-formatted table
for employee in employees:
  print("{:<20} {:<10}".format(employee["name"], employee["salary"]))